//Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;

//Colors
$pastel-color: #f9fae9;

$green-100: #69c286;
$green-200: #9ac32f;
$green-300: #3b825a;
$green-400: #199b41;
$green-500: #23603a;

$orange: #fd7c35;
$yellow: #fcb517;