.muestra{
    display: flex;
    border: 1px solid black;
    padding: 1rem;
    flex-direction: column;
}

.single{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}