<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../../assets/images/logo.svg">
                </div>
                <h4>New here?</h4>
                <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

                <form class="pt-3" method="post" action="../../backend/register.php">
                  <!-- Nombre de usuario -->
                  <div class="form-group">
                    <input type="text" required class="form-control form-control-lg" name="newUser" placeholder="Username">
                  </div>
                  <!-- Email -->
                  <div class="form-group">
                    <input type="email" name="email" required class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <!-- Contrasena -->
                  <div class="form-group">
                    <input type="password" name="newPassword" minlength="7" required class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Contraseña">
                  </div>
                  <hr>
                  <!-- Provincia -->
                  <div class="form-group">
                    <select class="form-control form-control-lg" name="province" required id="exampleFormControlSelect2">
                      <option selected disabled>En que provincia se ubicará?</option>
                      <option value="BUENOS AIRES">BUENOS AIRES</option>
                      <option value="CATAMARCA">CATAMARCA</option>
                      <option value="CHACO">CHACO</option>
                      <option value="CHUBUT">CHUBUT</option>
                      <option value="CORDOBA">CORDOBA</option>
                      <option value="CORRIENTES">CORRIENTES</option>
                      <option value="ENTRE RIOS">ENTRE RIOS</option>
                      <option value="FORMOSA">FORMOSA</option>
                      <option value="JUJUY">JUJUY</option>
                      <option value="LA PAMPA">LA PAMPA</option>
                      <option value="LA RIOJA">LA RIOJA</option>
                      <option value="MENDOZA">MENDOZA</option>
                      <option value="MISIONES">MISIONES</option>
                      <option value="NEUQUEN">NEUQUEN</option>
                      <option value="RIO NEGRO">RIO NEGRO</option>
                      <option value="SALTA">SALTA</option>
                      <option value="SAN LUIS">SAN LUIS</option>
                      <option value="SANTA CRUZ">SANTA CRUZ</option>
                      <option value="SANTA FE">SANTA FE</option>
                      <option value="SANTIAGO DEL ESTERO">SANTIAGO DEL ESTERO</option>
                      <option value="TIERRA DEL FUEGO">TIERRA DEL FUEGO</option>
                      <option value="TUCUMAN">TUCUMAN</option>
                    </select>
                  </div>
                  <!-- Cultivo -->
                  <div class="form-group">
                    <select name="seed" required class="form-control form-control-lg" id="exampleFormControlSelect2">
                      <option selected disabled>Que cultivo sembrará?</option>
                      <option value="Opcion 1">Opcion 1</option>
                      <option value="Opcion 2">Opcion 2</option>
                      <option value="Opcion 3">Opcion 3</option>
                      <option value="Opcion 4">Opcion 4</option>
                      <option value="Opcion 5">Opcion 5</option>
                    </select>
                  </div>
                  <!-- Intervalo de riego -->
                  <div class="form-group">
                    <input required type="number" name="interval" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Intervalo de riego">
                  <!-- Podriamos agg una i con info del tema tipo modal -->
                  </div>
                  <!-- Numero de hectareas -->
                  <div class="form-group">
                    <input required type="number" name="hectare" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Hectareas cultivadas">
                  </div>
                  <!-- Fecha de siembra -->
                  <div class="form-group">
                    <input required type="date" name="seedtime" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Fecha de siembra">
                  </div>

                  <input class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">
                </form>
                  <div class="text-center mt-4 font-weight-light"> Already have an account? <a href="login.html" class="text-primary">Login</a>
                  </div>

               
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
  </body>
</html>